# API Configuration
# URLs de los microservicios del backend

# Módulo de Búsqueda (Solr)
REACT_APP_BUSQUEDA_API=http://localhost:5002

# Módulo de Ventas
REACT_APP_VENTAS_API=http://localhost:5050

# Módulo de Pago
REACT_APP_PAGO_API=http://localhost:5001

# Módulo de Inventario
REACT_APP_INVENTARIO_API=http://localhost:5003
